body {
	font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: white;
}
.box {
	padding: 8px;
	display: inline-block;
	border: 1px solid white;
}
#log {
	font-size: 80%;
	height: 200px;
	width: 200px;
	overflow-y: scroll;
	overflow-x: auto;
	float: left;
}
button {
	background: none;
	border: 1px solid white;
	color: white;
}