body {
	font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: white;
}
.box {
	padding: 8px;
	display: inline-block;
	border: 1px solid white;
	margin: 10px;
	float: left;
}
.header {
	font-size: 110%;
}
#log {
	font-size: 80%;
	height: 200px;
	width: 200px;
	overflow-y: scroll;
	overflow-x: auto;
}
#stats {
	font-size: 110%;
}
button, input {
	background: none;
	border: 1px solid white;
	color: white;
	font-size: 100%;
}